In [1]:
import numpy

In [2]:
data = numpy.genfromtxt('classFile.csv', dtype='str',delimiter=',')

In [3]:
data

array([['1', '3.50', '2.50', '45000', '3.50', '3.50', 'N', '250', '90000'],
       ['3', '3.80', '1.00', '65000', '3.60', '3.00', 'Y', '400', '100000'],
       ['4', '3.80', '2.00', '85000', '4.00', '3.60', 'Y', '500', '90000'],
       ['5', '3.41', '1.50', '10000', '3.41', '3.33', 'N', '365', '100000'],
       ['6', '3.33', '5.00', '70000', '3.67', '3.00', 'Y', '400', '100000'],
       ['7', '3.52', '2.50', '27000', '3.58', '3.52', 'N', '230', '85000'],
       ['8', '3.50', '2.00', '40000', '3.70', '3.30', 'N', '250', '90000'],
       ['9', '3.50', '5.00', '75000', '3.53', '3.30', 'Y', '260', '100000'],
       ['10', '3.60', '2.50', '65000', '3.90', '3.10', 'Y', '250', '110000'],
       ['11', '3.20', '4.00', '62000', '3.80', '3.00', 'N', '525', '105000'],
       ['12', '3.50', '2.00', '60000', '3.50', '3.50', 'N', '400', '85000'],
       ['13', '3.67', '1.80', '60000', '4.00', '3.00', 'N', '920', '140000'],
       ['14', '3.50', '2.00', '60000', '3.70', '3.30', 'y', '300', '90000'],
       ['15', '3.47', '2.50', '70000', '3.64', '3.37', 'Y', '310', '95000'],
       ['16', '3.06', '1.30', '40000', '3.64', '2.67', 'Y', '550', '120000'],
       ['17', '3.27', '2.00', '60000', '4.00', '3.00', 'Y', '350', '100000'],
       ['18', '3.53', '4.00', '50000', '4.00', '3.30', 'N', '600', '88000'],
       ['19', '4.00', '4.00', '50000', '4.00', '4.00', 'Y', '500', '130000'],
       ['20', '3.40', '1.00', '30000', '3.60', '3.10', 'N', '500', '80000'],
       ['21', '3.54', '1.00', '40000', '4.00', '3.42', 'Y', '650', '95000'],
       ['22', '3.50', '2.00', '75000', '4.00', '3.00', 'Y', '515', '80000'],
       ['23', '3.50', '4.00', '50000', '3.80', '3.20', 'Y', '350', '110000'],
       ['24', '3.40', '3.00', '50000', '3.80', '3.20', 'Y', '301', '90000'],
       ['25', '3.93', '5.00', '', '', '', '', '', ''],
       ['26', '3.30', '4.00', '65000', '4.00', '3.65', 'Y', '700', '100000'],
       ['27', '3.90', '6.00', '90000', '4.00', '3.80', 'Y', '809', '120000'],
       ['28', '3.17', '1.00', '50000', '3.30', '3.00', 'N', '258', '100000'],
       ['29', '3.48', '3.50', '60000', '4.00', '3.33', 'Y', '350', '100000'],
       ['30', '3.93', '4.00', '43000', '4.00', '3.28', 'Y', '900', '100000'],
       ['31', '3.43', '4.00', '60000', '3.50', '3.30', 'Y', '220', '110000'],
       ['32', '3.33', '5.00', '5000', '3.66', '3.00', 'Y', '183', '100000'],
       ['33', '3.60', '1.50', '60000', '3.70', '3.40', 'Y', '340', '100000'],
       ['34', '3.80', '3.00', '65000', '3.80', '3.50', 'Y', '800', '80000'],
       ['35', '3.50', '3.00', '65000', '4.00', '3.60', 'Y', '400', '80000'],
       ['36', '3.39', '2.00', '60000', '3.80', '3.20', 'Y', '500', '90000']],
      dtype='<U6')

In [4]:
minGPA=min(float(column[1].replace(',', '')) for column in data)

In [5]:
minGPA

3.06

In [6]:
maxGPA=max(float(column[1].replace(',', '')) for column in data)

In [7]:
maxGPA

4.0

In [8]:
import statistics

In [9]:
medianGPA=statistics.median(float(column[1].replace(',', '')) for column in data)

In [10]:
medianGPA

3.5

In [11]:
meanGPA=statistics.mean(float(column[1].replace(',', '')) for column in data)

In [12]:
meanGPA

3.521714285714286

In [13]:
minWEX = min(float(column[2].replace(',', '')) for column in data)

In [14]:
minWEX

1.0

In [15]:
maxWEX = max(float(column[2].replace(',', '')) for column in data)

In [16]:
maxWEX

6.0

In [17]:
medianWEX = statistics.median(float(column[2].replace(',', '')) for column in data)

In [18]:
medianWEX

2.5

In [19]:
meanWEX=statistics.mean(float(column[2].replace(',', '')) for column in data)

In [20]:
meanWEX

2.874285714285714

In [21]:
modeSal = statistics.mode(str(column[3].replace(',', '')) for column in data)

In [22]:
modeSal

'60000'

In [23]:
from collections import Counter

In [24]:
c = Counter((column[6].replace(',', '')for column in data))

In [25]:
c

Counter({'': 1, 'N': 10, 'Y': 23, 'y': 1})

In [26]:
l = len(data)

In [27]:
l

35

In [28]:
print(c['N']/l)

0.2857142857142857

In [29]:
print(c['Y']/l)

0.6571428571428571

In [30]:
import csv

In [31]:
with open("ClassData.csv") as f:
    reader = csv.DictReader(f)
    rows = [row for row in reader if row['Number of contacts on Linkedin'] > '500']

In [32]:
rows

[{'Coops/Internships (YN)': 'N',
  'Expected Salary after graduation': '105000',
  'GPA': '3.2',
  'Highest GPA ': '3.8',
  'Latest salary (per year)': '62000',
  'Lowest GPA': '3',
  'No': '11',
  'Number of contacts on Linkedin': '525',
  'Years of work experience': '4'},
 {'Coops/Internships (YN)': 'N',
  'Expected Salary after graduation': '140000',
  'GPA': '3.67',
  'Highest GPA ': '4',
  'Latest salary (per year)': '60000',
  'Lowest GPA': '3',
  'No': '13',
  'Number of contacts on Linkedin': '920',
  'Years of work experience': '1.8'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '120000',
  'GPA': '3.06',
  'Highest GPA ': '3.64',
  'Latest salary (per year)': '40000',
  'Lowest GPA': '2.67',
  'No': '16',
  'Number of contacts on Linkedin': '550',
  'Years of work experience': '1.3'},
 {'Coops/Internships (YN)': 'N',
  'Expected Salary after graduation': '88000',
  'GPA': '3.53',
  'Highest GPA ': '4',
  'Latest salary (per year)': '50000',
  'Lowest GPA': '3.3',
  'No': '18',
  'Number of contacts on Linkedin': '600',
  'Years of work experience': '4'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '95000',
  'GPA': '3.54',
  'Highest GPA ': '4',
  'Latest salary (per year)': '40000',
  'Lowest GPA': '3.42',
  'No': '21',
  'Number of contacts on Linkedin': '650',
  'Years of work experience': '1'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '80000',
  'GPA': '3.5',
  'Highest GPA ': '4',
  'Latest salary (per year)': '75000',
  'Lowest GPA': '3',
  'No': '22',
  'Number of contacts on Linkedin': '515',
  'Years of work experience': '2'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '100000',
  'GPA': '3.3',
  'Highest GPA ': '4',
  'Latest salary (per year)': '65000',
  'Lowest GPA': '3.65',
  'No': '26',
  'Number of contacts on Linkedin': '700',
  'Years of work experience': '4'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '120000',
  'GPA': '3.9',
  'Highest GPA ': '4',
  'Latest salary (per year)': '90000',
  'Lowest GPA': '3.8',
  'No': '27',
  'Number of contacts on Linkedin': '809',
  'Years of work experience': '6'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '100000',
  'GPA': '3.93',
  'Highest GPA ': '4',
  'Latest salary (per year)': '43000',
  'Lowest GPA': '3.28',
  'No': '30',
  'Number of contacts on Linkedin': '900',
  'Years of work experience': '4'},
 {'Coops/Internships (YN)': 'Y',
  'Expected Salary after graduation': '80000',
  'GPA': '3.8',
  'Highest GPA ': '3.8',
  'Latest salary (per year)': '65000',
  'Lowest GPA': '3.5',
  'No': '34',
  'Number of contacts on Linkedin': '800',
  'Years of work experience': '3'}]

In [33]:
StudentsWith500Cont = len(rows)

In [34]:
StudentsWith500Cont

10

In [35]:
a=sorted((column[8].replace(',', '')for column in data))

In [36]:
a

['',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '100000',
 '105000',
 '110000',
 '110000',
 '110000',
 '120000',
 '120000',
 '130000',
 '140000',
 '80000',
 '80000',
 '80000',
 '80000',
 '85000',
 '85000',
 '88000',
 '90000',
 '90000',
 '90000',
 '90000',
 '90000',
 '90000',
 '95000',
 '95000']

In [37]:
value_list = [int(x) for x in a if x]

In [38]:
value_list

[100000,
 100000,
 100000,
 100000,
 100000,
 100000,
 100000,
 100000,
 100000,
 100000,
 100000,
 105000,
 110000,
 110000,
 110000,
 120000,
 120000,
 130000,
 140000,
 80000,
 80000,
 80000,
 80000,
 85000,
 85000,
 88000,
 90000,
 90000,
 90000,
 90000,
 90000,
 90000,
 95000,
 95000]

In [39]:
q75, q25 = numpy.percentile(value_list, [75 ,25])

In [40]:
iqr = q75 -q25

In [41]:
iqr

10000.0